/assets/css/fonts/Lyno Family/LynoJean.otf
/assets/css/fonts/Lyno Family/LynoWalt.otf
/.idea
/.idea/E-Story-API.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_14_2020_1_02_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/gallery_bug_fixing_/shelved.patch
