<!DOCTYPE widget>
<HotspotImage>
<background_picture rid="JN3X7I1GM9F8Y0Q7CAVJ" height="768" autosize="true" alttext="" width="623" orientation="1" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/Source analysis/FeiHong/Letter-01.png</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<Width>669</Width>
<Height>831</Height>
<X>-15</X>
<Y>-25</Y>
</position>
<hotspots>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">“It is merely from these circumstances, that your country---deriving immense advantage from its commercial intercourse with us, which has endured now two hundred years---has become the rich and flourishing kingdom that it is said to be!”&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">We can see here that the British interest in trade with China had been a policy of the country for several centuries before rising tensions around the sale of opium led to the breakdown of relationships that prompted Lin’s letter.&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>-77</X>
<Y>356</Y>
</position>
<point>
<x>-5</x>
<y>323</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image rid="" height="0" autosize="true" alttext="" width="0" orientation="1" caption="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">“by means of introducing opium by stealth, have seduced our Chinese people, and caused every province of the land to overflow with that poison”&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Lin’s letter made clear to Victoria, the Queen and Empress, that the introduction of opium into Chinese lands was having a profoundly degenerative effect on Chinese society; his characterisation of it as poison is quite telling. Note that he also effectively accuses the British merchants of smuggling the drug into China through “stealth”. The merchants were by-passing the Canton system &lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>593</X>
<Y>26</Y>
</position>
<point>
<x>621</x>
<y>45</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image rid="" height="0" autosize="true" alttext="" width="0" orientation="1" caption="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="left">Left of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">“Every native of the Inner Land who sells opium, as also all who smoke it, are alike adjudged to death”&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Again, the severity of the problem as it was perceived to be by the Chinese is indicated in the punishment meted out to those who were found guilty of the drugs use and sale: both would be condemned to death.&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>-77</X>
<Y>450</Y>
</position>
<point>
<x>-9</x>
<y>512</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image rid="" height="0" autosize="true" alttext="" width="0" orientation="1" caption="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text searchable="true">
<text>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">
p, li { white-space: pre-wrap; }
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">“Your honorable nation takes away the products of our central land, and not only do you thereby obtain food and support for yourselves, but moreover, by re-selling these products to other countries you reap a threefold profit.”&lt;/p>
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Here, Lin expresses the central goal of European economic imperialism. Profit was the king of the imperial enterprise, and the demand for goods from exotic lands attracted plentiful interest in the markets of Europe.&lt;/p>
&lt;p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;br />&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position>
<Width>100</Width>
<Height>40</Height>
<X>-75</X>
<Y>404</Y>
</position>
<point>
<x>-7</x>
<y>384</y>
</point>
<marker-label searchable="true"></marker-label>
<marker-image rid="" height="0" autosize="true" alttext="" width="0" orientation="1" caption="">:/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code></code>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>yes</student_account_authrestrict>
<widget_language></widget_language>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation></translation>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation></translation>
<modified>false</modified>
</localization>
</LocalizationMap>
<DesignConstants widget_backgroundimage="" template="Dark Background" widget_color="#3498DB" widget_font="Verdana">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ffffff</value>
</constant>
</DesignConstants>
<cover rid="L630BJ4MFLFPDO8HIIAB" height="768" autosize="true" alttext="" width="623" orientation="1" caption="">/Users/julius/Documents/Documents - Julius MacBook Pro/01_work/01_freelance/01_Upwork/Spencer Striker/02_work/Source analysis/FeiHong/cover.png</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
<BookWidgetsVersion>6.0.3</BookWidgetsVersion>
<shortcode></shortcode>
<label searchable="true"></label>
<lastupload></lastupload>
</HotspotImage>
