<HotspotImage>
<shortcode>HKSUNB</shortcode>
<label>HotspotImageV02_6</label>
<background_picture rid="79WEFVNAPB3DMIF2XJUW" width="2433" height="2980" autosize="false">https://widget-assets-eu.bookwidgets.com/191126/fb755ede32caebbb_S_2433_2980.25bd735b591c9787c1ffa3af6ab16be9.png?filename=%2FUsers%2Fjulius%2FDocuments%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2Fdesign%2F001v.png</background_picture>
<resize-policy value="Image draggable and resizeable">Image draggable and resizeable</resize-policy>
<position>
<X>-3</X>
<Y>-8</Y>
<Width>1687</Width>
<Height>2063</Height>
</position>
<hotspots>
<TextPopup>
<text>
<text searchable="true">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">&#xd;
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">&#xd;
p, li { white-space: pre-wrap; }&#xd;
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">“We hold these Truths to be Self-evident… and the pursuit of happiness”&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">From the outset, the key ideals explored in this period – liberty, freedom, &lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">and representation – are made prominent in the Declaration. We should never &lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">lose sight of both how important these principles were, but also their limitations.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position/>
<point>
<x>368</x>
<y>553</y>
</point>
<marker-label searchable="true">1</marker-label>
<marker-image rid="" width="0" orientation="1" height="0" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="top">Above hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text>
<text searchable="true">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">&#xd;
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">&#xd;
p, li { white-space: pre-wrap; }&#xd;
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">“The History of the Present King… Tyranny over these States”&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">King George III is presented as the villain of the piece in the Declaration. &lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">As the Monarch, he is an unelected representative of the people. The &lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">declaration lists 27 grievances that the States have with the King’s governance.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position/>
<point>
<x>606</x>
<y>726</y>
</point>
<marker-label searchable="true">2</marker-label>
<marker-image rid="" width="0" orientation="1" height="0" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text>
<text searchable="true">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">&#xd;
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">&#xd;
p, li { white-space: pre-wrap; }&#xd;
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">“For imposing Taxes on us without our consent”&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">We can see here how the issue of taxation without representation&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;"> – the motivation of the Boston Tea Party – remained prominent in&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;"> the mindset of the signatories of the Declaration in 1776. &lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position/>
<point>
<x>652</x>
<y>1213</y>
</point>
<marker-label searchable="true">3</marker-label>
<marker-image rid="" width="0" orientation="1" height="0" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="right">Right of hotspot</popup-location-preference>
</TextPopup>
<TextPopup>
<text>
<text searchable="true">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">&#xd;
&lt;html>&lt;head>&lt;meta name="qrichtext" content="1" />&lt;style type="text/css">&#xd;
p, li { white-space: pre-wrap; }&#xd;
&lt;/style>&lt;/head>&lt;body style=" font-family:'.SF NS Text'; font-size:13pt; font-weight:400; font-style:normal;">&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">“FREE AND INDEPENDENT STATES… Allegiance to the British Crown”&lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">This is the decisive statement of the Declaration. This is the assertion &lt;/span>&lt;/p>&#xd;
&lt;p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;span style=" font-family:'Favorit'; font-size:12pt;">of sovereignty for the colonies and a rejection of British rule.&lt;/span>&lt;/p>&lt;/body>&lt;/html></text>
<images/>
</text>
<marker-type value="label">Label</marker-type>
<position/>
<point>
<x>336</x>
<y>1730</y>
</point>
<marker-label searchable="true">4</marker-label>
<marker-image rid="" width="0" orientation="1" height="0" autosize="true">https://www.bookwidgets.com/create/embedded-resources/HotspotImage/images/markericon.png</marker-image>
<popup-location-preference value="top">Above hotspot</popup-location-preference>
</TextPopup>
</hotspots>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code/>
<name>Anyone</name>
</student_account_school>
<student_account_authrestrict>true</student_account_authrestrict>
<LocalizationMap>
<localization>
<phrase>Hotspot accesses</phrase>
<translation/>
<modified>false</modified>
</localization>
<localization>
<phrase>Hotspots accessed</phrase>
<translation/>
<modified>false</modified>
</localization>
<localization>
<phrase>Authentication error.</phrase>
<translation/>
</localization>
<localization>
<phrase>Cancel</phrase>
<translation/>
</localization>
<localization>
<phrase>Could not connect to server, check your internet connection.</phrase>
<translation/>
</localization>
<localization>
<phrase>Email</phrase>
<translation/>
</localization>
<localization>
<phrase>Forgot password?</phrase>
<translation/>
</localization>
<localization>
<phrase>Not logged in</phrase>
<translation/>
</localization>
<localization>
<phrase>OK</phrase>
<translation/>
</localization>
<localization>
<phrase>Offline</phrase>
<translation/>
</localization>
<localization>
<phrase>Online</phrase>
<translation/>
</localization>
<localization>
<phrase>Password</phrase>
<translation/>
</localization>
<localization>
<phrase>Please sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>Received error trying to sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>School code</phrase>
<translation/>
</localization>
<localization>
<phrase>Server error when signing in.</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in to save your answers online</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using email and password</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using school account</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign out</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign up here</phrase>
<translation/>
</localization>
<localization>
<phrase>Username</phrase>
<translation/>
</localization>
<localization>
<phrase>Waiting</phrase>
<translation/>
</localization>
<localization>
<phrase>Waiting for account sign in to complete...</phrase>
<translation/>
</localization>
<localization>
<phrase>Widget configuration error: school doesn't exist</phrase>
<translation/>
</localization>
<localization>
<phrase>Wrong username or password, please try again.</phrase>
<translation/>
</localization>
<localization>
<phrase>You need to be signed in to use this widget.</phrase>
<translation/>
</localization>
<localization>
<phrase>You're currently offline and logged in as user:</phrase>
<translation/>
</localization>
<localization>
<phrase>You're currently online and logged in as user:</phrase>
<translation/>
</localization>
<localization>
<phrase>You're offline</phrase>
<translation/>
</localization>
</LocalizationMap>
<DesignConstants widget_color="#3498DB" widget_backgroundimage=",auto" template="Dark Background" widget_font="Verdana">
<constant>
<name>hiddenborderleft</name>
<kind>BorderLeft</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderright</name>
<kind>BorderRight</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenbordertop</name>
<kind>BorderTop</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderbottom</name>
<kind>BorderBottom</kind>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>hiddenborderradius</name>
<kind>BorderRadius</kind>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>hiddenbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 1, 1</value>
</constant>
<constant>
<name>hiddenshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>labelborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>labelborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>labelbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>labelcolor</name>
<kind>TextColor</kind>
<value>#3498DB</value>
</constant>
<constant>
<name>labelfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 20</value>
</constant>
<constant>
<name>labelshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>pointerborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>pointerborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbackground</name>
<kind>BackgroundGradient</kind>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>popupborderleft</name>
<kind>BorderLeft</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderright</name>
<kind>BorderRight</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupbordertop</name>
<kind>BorderTop</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderbottom</name>
<kind>BorderBottom</kind>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>popupborderradius</name>
<kind>BorderRadius</kind>
<value>10px, 10px, 10px, 10px</value>
</constant>
<constant>
<name>popupshadow</name>
<kind>BoxShadow</kind>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>popupfont</name>
<kind>TextFont</kind>
<value>Verdana, font-stack, 14</value>
</constant>
<constant>
<name>popupcolor</name>
<kind>TextColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonstrokecolor</name>
<kind>StrokeColor</kind>
<value>#000000</value>
</constant>
<constant>
<name>buttonfillcolor</name>
<kind>FillColor</kind>
<value>#ff6633</value>
</constant>
</DesignConstants>
<cover rid="VCBI4L2AI2XJ29K21QOY" width="623" height="768" autosize="true">https://widget-assets-eu.bookwidgets.com/191126/Default.31f2af8bb76e4461afab2daebcecf978.png?filename=%2FUsers%2Fjulius%2FDocuments%2F01_work%2F01_freelance%2F01_Upwork%2FSpencer%20Striker%2F02_work%2Fhotspot_cover.jpg</cover>
<widget_orientation value="Vertical">Vertical</widget_orientation>
</HotspotImage>
